.welcome_area {
  background-image: url("../../Aasect/bg.png");
  height: 100vh;
}
.welcome_area h2 {
  font-family: Manrope;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.signup_form_toper .text-left {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}
.signup_form_toper p {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  opacity: 0.5;
}
.agree .label {
  justify-content: flex-start;
}
.agree .label .label-text {
  margin-left: 5px;
}
